.about_cliets {
  background-color: #012F34;
  padding: 100px 0px;
}


.box {

}


.box__title {
  margin: 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
}


.clients {

  

}