.header {
  background-color: #014E56;
}


.header__iner {
  display: flex;
  align-items: center;
  padding-top: 77px;
  padding-bottom: 77px;
  
}




.header__logo {
  margin-right: 80px;
}


.header__link {
  display: inline-block;
  margin-left: auto;
  max-width: 153px;
  padding: 11px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  width: 100%;
  border: 2px solid #FFFFFF;
  border-radius: 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}


.header__link:hover {
background-color: #fff;
color: #002529;
}


.menu {
  margin: 0;
  padding: 0;
  
}

.menu__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  
  
}


.menu__list > li {
  margin-right: 40px;
}




.menu__link {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
}


.menu__link:hover {
  color: #F67E7E;
}

.site-header__burger-btn {
  display: none;
  color: #fff;
  background-color: transparent;
  border: 0px;
  font-size: 24px;
  
}
.header__logo {
  margin-right: 80px;
}




@media only screen  and (max-width:769px) {
  .header__iner {
    padding-top: 64px;
    padding-bottom: 56px;
    
  }
  
  .header__logo {
    margin-right: 48px;
  }
  
  
  
}


@media only screen  and (max-width:605px) {
  
  .header__logo {
    margin-right: auto;
  }


  .header__iner {
    padding-top: 48px;
    padding-bottom: 24px;
    
  }
  

  .menu {
    display: none;
  }
  
  .header__link {
    display: none;
  }
  
  
  .site-header__burger-btn {
    display: block;
    margin-left: auto;
  }
  
  
  .hero__iner__text__top {
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
  }
  

  .site-header__burger-btn {
    display: block;
  } 



  
  
}