

.main {
  background-color: #014E56;
}


.hero {
  position: relative;
  padding-top: 56px;
  padding-bottom: 250px;
  overflow: hidden;
  background-image: url(../images/back.png), url(../images/bottomback.png) ;
  background-size: 200px 200px, 358px 200px;
  background-repeat: no-repeat;
  background-position: calc(50% - 760px) calc(50% - 110px), calc(50% + 300px) calc(50% + 250px); 
  
}


.hero__iner {
  display: flex;
  align-items: center;
}

.hero__iner__box {
  max-width: 635px;
  width: 100%;
}

.hero__iner__box__tittle {
  margin: 0;
  font-weight: 700;
  font-size: 100px;
  line-height: 100px; 
  color: #FFFFFF
}


.hero__iner__box__tittle > strong {
  color: #F67E7E;
}


.hero__iner__text {
  max-width: 445px;
  width: 100%;
  margin-right: 30px;
}

.hero__iner__text__top {
  display: inline-block;
  width: 50px; 
  height: 4px;
  background: #79C8C7;
  margin-bottom: 79px;
}




.hero__iner__text > p {
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  text-align: left;
}



@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  
  .hero::after {
    background-image: url(../images/back@2x.png);
    
  }
  
  .hero::before {
    background-image: url(../images/bottomback@2x.png);
    
  }
} 




@media only screen  and (max-width:1350px) {
  
  
  .hero {
    background-image: url(../images/tabletbgtop.png), url(../images/tabletbgbot.png) ;
    background-position: left calc(50% - 110px), calc(50% + 300px) bottom;    
    background-size: 100px 200px, 358px 100px;
    
  }
}





@media only screen  and (max-width:1061px) {
  
  
  .hero__iner__box__tittle {
    font-size: 90px;
    line-height: 90px;
    margin-right: 10px;
  }
  
  .hero__iner__text > p {
    font-size: 17px;
    line-height: 26px;
  }
  
}


@media only screen  and (max-width:1000px) {
  
  
  .hero__iner__box__tittle {
    font-size: 80px;
    line-height: 80px;
    margin-right: 10px;
  }
  
  .hero__iner__text > p {
    font-size: 16px;
    line-height: 26px;
  }
  
  
}


@media only screen  and (max-width:940px) {
  
  .hero {
    padding-top: 48px;
    padding-bottom: 250px;
  }
  
  .hero__iner__box__tittle {
    font-size: 70px;
    line-height: 70px;
    margin-right: 10px;
  }
  
  .hero__iner__text > p {
    font-size: 16px;
    line-height: 26px;
  }
  
  
}



@media only screen  and (max-width:851px) {
  
  .hero {
    padding-top: 56px;
    padding-bottom: 250px;
    background-image: url(../images/tabletbgbot.png) ;
    background-position: calc(50% + 00px) bottom;    
    background-size:  358px 100px;
  }
  
  
  
  .hero__iner {
    max-width: 683px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .hero__iner__text {
    text-align: center;
    margin-bottom: 0;
  }
  
  
  .hero__iner__text {
    text-align: center;
    max-width: 457px;
    font-size: 15px;
    line-height: 28px;
  }
  
  .hero__iner__box__tittle {
    text-align: center;
  }
  
  
  .hero__iner__text__top {
    font-weight: 700;
    font-size: 64px;
    line-height: 56px;
  }
  
  .hero__iner__box__tittle {
    margin-right: 20px;
    
  }
  
  .hero__iner {
    flex-direction: column;
  }
  
  .hero__iner__box {
    margin-bottom: 20px;
  }
  
  .hero__iner__text__top {
    display: none;
    text-align: center;
    
  }
  
  .hero__iner__text {
    margin-right: 0px;
  }
  
  .hero__iner__text__top {
    text-align: center;
  }

  .hero__iner__text {
    text-align: center;
  }  
  .hero__iner__text__top > p {
    font-size: 15px;
    line-height: 28px;
    text-align: center;
  }
}





@media only screen  and (max-width:605px) {
  
  .hero {
    padding-top: 32px;
    padding-bottom: 197px; 
   }
    
    .hero__iner__box__tittle {
      font-weight: 700;
      font-size: 40px;
      line-height: 40px;
    }

    .hero__iner {
      max-width: 327px;
      text-align: center;
    
    }

    .hero__iner__text > p {
      text-align: center;
    }
    
    
    .hero__iner__text__top {
      text-align: center;
      font-weight: 600;
      font-size: 15px;
      line-height: 28px;
    }
    
    
    
  }
  
  
  
  
  @media only screen  and (max-width:426px) {
    
    
    .hero {
      padding-top: 56px;
      padding-bottom: 197px;
    }
    
    .hero::before {
      top: calc(50% + 270px);
      left:  calc(50% - 180px );
      
    }
    
    .hero__iner {
      padding-top: 3px;
    }
    
    .hero__iner__box__tittle {
      font-weight: 700;
      font-size: 40px;
      line-height: 40px;
    }
    
    .hero__iner__text__top {
      text-align: center;
      font-weight: 600;
      font-size: 15px;
      line-height: 28px;
    }
    
    
    
  }
  
  @media only screen  and (max-width:376px) {
    
    .hero::before {
      top: calc(50% + 350px);
      left:  calc(50% - 180px );
      
    }
    
    
    
    
  }
  
  
  
  @media only screen  and (max-width:400px) {
    
    .hero::before {
      top: calc(50% + 192px);
      left:  calc(50% - 180px );
      
    }
    
    
    
  }
  
  
  @media only screen  and (max-width:280px) {
    
    .hero::before {
      top: calc(50% + 220px);
      left:  calc(50% - 180px );
      
    }
    
    
    
  }