.main__section__results {
  background-color: #004047;
  padding: 140px 0px;
  background-image: url(../images/bacbot.png), url(../images/bactop.png);
  background-repeat: no-repeat;
  background-size: 147px 100px, 200px 100px;
  background-position: calc(50% - 690px) top, calc(50% + 680px) bottom;
}


.main__section__results__iner {
  text-align: center;
  max-width: 932px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 92px;
}


.main__section__results__box__item {
  max-width: 350px;
  background-image: url(../images/skobka.png);
  background-repeat: no-repeat;
  background-size: 67px 56px;
  background-position: calc(50% - 0px) top ;
}

.main__section__results__iner__tittle {
  margin: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #FFFFFF;
}


.main__section__results__iner__tittle > strong {
  color: #79C8C7;
}




.main__section__results__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.main__section__results__box__item {
  display: inline-block;
  max-width: 350px;
  padding-top: 36px;
  text-align: center;
}



.main__section__results__box__item__span {
  display: inline-block;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 24px;
}


.main__section__results__box__item__name {
  display: block;
  font-size: 13px;
  line-height: 18px;
  color: #FFFFFF;
  margin-bottom: 32px;
}


.img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.main__section__results__box__item__name > strong {
  display: block; 
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #79C8C7;  
}


@media only screen and (max-width:1391px) {
  .main__section__results__box__item {
    margin-right: 20px;
  }
  
  
  .main__section__results {
    background-position: left top, right bottom;
  }
}




@media only screen and (max-width:1251px) {
  .main__section__results__box__item {
    margin-right: 20px;
  }
  
  
  
  .main__section__results__iner__tittle {
    font-size: 36px;
    line-height: 36px;
  }
  
  .main__section__results {
    background-position: left top, right bottom;
  }
  
 
}








@media only screen and (max-width:851px) {
  
  
  .main__section__results__iner__tittle {
    font-size: 32px;
    line-height: 32px;
  }
  
  .main__section__results__box__header {
    max-width: 573px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .main__section__results {
    padding: 100px 0px;
    
  }
  
  .main__section__results__box {
    flex-direction: column;
  }
  
  
  .main__section__results__box__item {
    max-width: 573px;
    margin-right: 0;
    margin-bottom: 90px;
    
  }
  
  
}






@media only screen and (max-width:541px) {
  
  
  .main__section__results__iner__tittle {
    font-size: 32px;
    line-height: 32px;
  }
  
  .main__section__results__box__header {
    max-width: 573px;
    
  }
  
  .main__section__results {
    padding: 140px 24px;
    
  }
  
  .main__section__results__box {
    flex-direction: column;
  }
  
  
  .main__section__results__box__item {
    max-width: 327px;
    width: 100%;
    margin-right: 0;
    margin-bottom: 190px;
    
  }
  
  .main__section__results__box__item__name > strong {
    
    &::after {
      
      left: 130px;
    }
    
  }
}



@media only screen and (max-width:370px) {
  
  
  .main__section__results__box__item__name > strong {
    
    &::after {
      
      left: 110px;
    }
    
  }
}





