.main__section__results {
  background-color: #004047;
  padding: 140px 165px;
  background-image: url(../images/bacbot.png), url(../images/bactop.png);
  background-repeat: no-repeat;
  background-size: 147px 100px, 200px 100px;
  background-position: calc(50% - 690px) top, calc(50% + 680px) bottom;
}


.main__section__results__iner {
  text-align: center;
  max-width: 932px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 92px;
}


.main__section__results__box__item {
  background-image: url(../images/skobka.png);
  background-repeat: no-repeat;
  background-size: 67px 56px;
  background-position: calc(50% - 0px) top ;
}

.main__section__results__iner__tittle {
  margin: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #FFFFFF;
}


.main__section__results__iner__tittle > strong {
  color: #79C8C7;
}

.main__section__results__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.main__section__results__box__item {
  display: inline-block;
  max-width: 350px;
  padding-top: 36px;
  text-align: center;
}



.main__section__results__box__item__span {
  display: inline-block;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  margin-bottom: 24px;
}


.main__section__results__box__item__name {
  font-size: 13px;
  line-height: 18px;
  color: #FFFFFF;
}


.main__section__results__box__item__name > strong {
  position: relative; 
  display: block; 
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #79C8C7;
  
  &::after {
    position: absolute;
    top: 90px;
    left: 150px;
    width: 62px;
    height: 62px;
    background-image: url(../images/Oval@2x.png);
    background-repeat: no-repeat;
    background-size: 62px;
    content: "";
  }
}


.main__section__results__box__item:nth-child(2) > .main__section__results__box__item__name > strong::after {
  background-image: url(../images/bac@2x.png);
}

.main__section__results__box__item:nth-child(3) > .main__section__results__box__item__name > strong::after {
  background-image: url(../images/bag6@2x.png);
}




@media only screen and (max-width:1391px) {
  .main__section__results__box__item {
    margin-right: 20px;
  }
  
  
  .main__section__results {
    background-position: left top, right bottom;
  }
}




@media only screen and (max-width:1251px) {
  .main__section__results__box__item {
    margin-right: 20px;
  }
  
  
  
  .main__section__results__iner__tittle {
    font-size: 36px;
    line-height: 36px;
  }
  
  .main__section__results {
    background-position: left top, right bottom;
  }
  
  .main__section__results__box__item__name > strong {
    
    &::after {
      
      left: 110px;
    }
    
  }
}



@media only screen and (max-width:1051px) {
  
  
  .main__section__results__box__item__name > strong {
    
    &::after {
      
      left: 90px;
    }
    
  }
}




@media only screen and (max-width:1051px) {
  
  
  .main__section__results {
    padding: 140px 120px;
    
  }
  
  
  .main__section__results__box__item__name > strong {
    
    &::after {
      
      left: 90px;
    }
    
  }
}

@media only screen and (max-width:901px) {
  
  
  .main__section__results {
    padding: 140px 90px;
    
  }
  
  
  .main__section__results__box__item__name > strong {
    
    &::after {
      
      left: 70px;
    }
    
  }
}



@media only screen and (max-width:851px) {
  
  
  .main__section__results__iner__tittle {
    font-size: 32px;
    line-height: 32px;
  }
  
  .main__section__results__box__header {
    max-width: 573px;
    
  }
  
  .main__section__results {
    padding: 100px 98px;
    
  }
  
  .main__section__results__box {
    flex-direction: column;
  }
  
  
  .main__section__results__box__item {
    max-width: 573px;
    margin-right: 0;
    margin-bottom: 190px;
    
  }
  
  .main__section__results__box__item__name > strong {
    
    &::after {
      
      left: 260px;
    }
    
  }
}



@media only screen and (max-width:760px) {
  
    
  .main__section__results__box__item__name > strong {
    
    &::after {
      
      left: 220px;
    }
    
  }
}




@media only screen and (max-width:660px) {
  
    
  .main__section__results__box__item__name > strong {
    
    &::after {
      
      left: 190px;
    }
    
  }
}




@media only screen and (max-width:560px) {
  
    
  .main__section__results__box__item__name > strong {
    
    &::after {
      
      left: 150px;
    }
    
  }
}




@media only screen and (max-width:541px) {
  
  
  .main__section__results__iner__tittle {
    font-size: 32px;
    line-height: 32px;
  }
  
  .main__section__results__box__header {
    max-width: 573px;
    
  }
  
  .main__section__results {
    padding: 140px 24px;
    
  }
  
  .main__section__results__box {
    flex-direction: column;
  }
  
  
  .main__section__results__box__item {
    max-width: 327px;
    width: 100%;
    margin-right: 0;
    margin-bottom: 190px;
    
  }
  
  .main__section__results__box__item__name > strong {
    
    &::after {
      
      left: 130px;
    }
    
  }
}



@media only screen and (max-width:370px) {
  
  
  .main__section__results__box__item__name > strong {
    
    &::after {
      
      left: 110px;
    }
    
  }
}





